<ion-list>
  <ion-list>
    <ion-item>
      <ion-input label="Titulor do Jogo" placeholder="Titulor do Jogo"></ion-input>
      <ion-input label="Titulor do Jogo" placeholder="Titulor do Jogo"></ion-input>
      <ion-input label="Titulor do Jogo" placeholder="Titulor do Jogo"></ion-input>
      <ion-input label="Titulor do Jogo" placeholder="Titulor do Jogo"></ion-input>
      <ion-input label="Titulor do Jogo" placeholder="Titulor do Jogo"></ion-input>
    </ion-item>
  </ion-list>
</ion-list>